.chain {
    text-decoration: none;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;
    color: #000 !important;
    text-transform: uppercase;
    cursor: pointer;
}

.chain:hover {
    text-decoration: underline;
}

.chain-last {
    font-weight: bold;
}

.item-container {
    display: grid;
    // grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);

    .item {
        border:1px rgb(226, 226, 226) solid;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        height:450px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        position: relative;

        a {
            color: black;
            text-decoration: none !important;
        }
        .item__sale {
            position: absolute;
            border-radius: 2px;
            height:28px;
            width: 28px;
            font-size: 16px;
            text-align: center;
            background-color: green;
            color: white;
            vertical-align: middle;
            
        }
        .item__name {

        }
        .item__photo {
            display: block;
            height: 150px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                bottom: 50%;
                transform:translate(-50%,-50%);
                max-height: 150px;
                border-radius: 5px;
                // max-width: calc(100%-20px);
            }
        }
    
        .item__price {
            display: inline-block;
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .discount {
            text-decoration: line-through;
            color: grey;
            font-size: 18px;
        }

        .with-discount {
            color: red;
        }

        .sold {
            font-size: 15px;
        }
    
        .notavailable {
            font-size: 15px;
        }

    }

    .item:hover {
        transition: box-shadow 0.1s ease-in-out;
        box-shadow: 0px 0px 3px 3px #cacaca;
    }

    .disabled {
        filter: grayscale(100%);
    }
}

.show__photo {
    display: inline-block;
    text-align: center;
}

.container__photos {
    display:flex;

    .photos__column {
        width: 15%;
        min-width: 70px;
        margin: 5px;

        .photo__small {
            width:100%;
            padding:15px;
        }
    }

    .container {
        .photo__big {
            max-width: 100%;
            padding:5px;
            margin: 5px;
        }
    }
}

.border {
    border: 1px solid black;
}

@media screen and (max-width: 992px) {
    .item-container {
        grid-template-columns: auto auto auto;
    }
  }

  @media screen and (max-width: 768px) {
    .item-container {
        grid-template-columns: auto auto;
    }
  }

@media screen and (max-width: 480px) {
    .item-container {
        grid-template-columns: auto;
    }
  }




// Min-width: 320px (smaller phone viewpoints)
// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)