.chain {
    text-decoration: none;
    font-family: "Trebuchet MS", "Times New Roman", Times, serif;
    color: #000 !important;
    text-transform: uppercase;
    cursor: pointer;
}

.chain:hover {
    text-decoration: underline;
}

.chain-last {
    font-weight: bold;
}

.item-container {
    display: grid;
    // grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);

    .item {
        border:1px rgb(226, 226, 226) solid;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        height:450px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        position: relative;

        a {
            color: black;
            text-decoration: none !important;
        }
        .item__sale {
            position: absolute;
            border-radius: 2px;
            height: 30px;
            width: 30px;
            font-size: 16px;
            background-color: green;
            color: white;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .item__name {
            display: block;
        }
        .item__photo {
            display: block;
            height: 150px;
            position: relative;
            z-index: 2;

            img {
                position: absolute;
                top: 50%;
                bottom: 50%;
                transform:translate(-50%,-50%);
                max-height: 150px;
                border-radius: 5px;
                // max-width: calc(100%-20px);
            }
        }
    
        .item__price {
            display: inline-block;
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .discount {
            text-decoration: line-through;
            color: grey;
            font-size: 18px;
        }

        .with-discount {
            color: red;
        }

        .sold {
            font-size: 15px;
        }
    
        .notavailable {
            font-size: 15px;
        }

    }

    .item:hover {
        transition: box-shadow 0.1s ease-in-out;
        box-shadow: 0px 0px 3px 3px #cacaca;
    }

    .disabled {
        filter: grayscale(100%);
    }
}

.show__photo {
    display: inline-block;
    text-align: center;
}

.container__photos {
    display:flex;

    .photos__column {
        width: 15%;
        min-width: 70px;
        margin: 5px;

        .photo__small {
            width:100%;
            padding:15px;
        }
    }

    .container {
        .photo__big {
            max-width: 100%;
            padding:5px;
            margin: 5px;
        }
    }
}

.border {
    border: 1px solid black;
}

.fa-home {
    text-decoration: none;
    color: #000 !important;
    cursor: pointer;
}

.fa-home:hover {
    text-decoration: underline;
}

.fa-heart {
    color: green;
}
// .container__column1 {
//     width:30%;
// }
// .container__column2 {
//     padding: 0 10px;
//     width: 100%;
//     .column2__cover {
//         object-fit: cover;
//         width: 100%;
//         height: 300px;
//     }
// }

@media screen and (max-width: 992px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

@media screen and (max-width: 480px) {
    .item-container {
        grid-template-columns: repeat(1, 1fr);
    }
  }


//   .slideshow-container {
//     max-width: 1000px;
//     position: relative;
//     margin: auto;
//   }
  
//   /* Next & previous buttons */
//   .prev, .next {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     width: auto;
//     padding: 16px;
//     margin-top: -22px;
//     color: white;
//     font-weight: bold;
//     font-size: 18px;
//     transition: 0.6s ease;
//     border-radius: 0 3px 3px 0;
//     user-select: none;
//   }
  
//   /* Position the "next button" to the right */
//   .next {
//     right: 0;
//     border-radius: 3px 0 0 3px;
//   }
  
//   /* On hover, add a black background color with a little bit see-through */
//   .prev:hover, .next:hover {
//     background-color: rgba(0,0,0,0.8);
//   }
  
//   /* Caption text */
//   .text {
//     color: #f2f2f2;
//     font-size: 15px;
//     padding: 8px 12px;
//     position: absolute;
//     bottom: 8px;
//     width: 100%;
//     text-align: center;
//   }
  
//   /* Number text (1/3 etc) */
//   .numbertext {
//     color: #f2f2f2;
//     font-size: 12px;
//     padding: 8px 12px;
//     position: absolute;
//     top: 0;
//   }

//   .slideshow__img {
//     object-fit: cover;
//     width: 100%;
//     height: 300px;
//   }
  
//   /* The dots/bullets/indicators */
//   .dot {
//     cursor: pointer;
//     height: 15px;
//     width: 15px;
//     margin: 0 2px;
//     background-color: #bbb;
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
//   }
  
//   .active, .dot:hover {
//     background-color: #717171;
//   }
  
//   /* Fading animation */
//   .fade {
//     -webkit-animation-name: fade;
//     -webkit-animation-duration: 1.5s;
//     // animation-name: fade;
//     animation-duration: 1.5s;
//   }
  
//   @-webkit-keyframes fade {
//     from {opacity: .4} 
//     to {opacity: 1}
//   }
  
//   @keyframes fade {
//     from {opacity: .4} 
//     to {opacity: 1}
//   }
  
//   /* On smaller screens, decrease text size */
//   @media only screen and (max-width: 300px) {
//     .prev, .next,.text {font-size: 11px}
//   }

// Min-width: 320px (smaller phone viewpoints)
// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)