@import url(https://fonts.googleapis.com/css?family=Nunito);
.chain {
  text-decoration: none;
  font-family: "Trebuchet MS", "Times New Roman", Times, serif;
  color: #000 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.chain:hover {
  text-decoration: underline;
}

.chain-last {
  font-weight: bold;
}

.item-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.item-container .item {
  border: 1px #e2e2e2 solid;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  height: 450px;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
}
.item-container .item a {
  color: black;
  text-decoration: none !important;
}
.item-container .item .item__sale {
  position: absolute;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  background-color: green;
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-container .item .item__name {
  display: block;
}
.item-container .item .item__photo {
  display: block;
  height: 150px;
  position: relative;
  z-index: 2;
}
.item-container .item .item__photo img {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  max-height: 150px;
  border-radius: 5px;
}
.item-container .item .item__price {
  display: inline-block;
  width: 100%;
  text-align: center;
  align-items: center;
}
.item-container .item .discount {
  text-decoration: line-through;
  color: grey;
  font-size: 18px;
}
.item-container .item .with-discount {
  color: red;
}
.item-container .item .sold {
  font-size: 15px;
}
.item-container .item .notavailable {
  font-size: 15px;
}
.item-container .item .inbasket {
  background-color: green;
}
.item-container .item:hover {
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0px 0px 3px 3px #cacaca;
}
.item-container .disabled {
  filter: grayscale(100%);
}

.show__photo {
  display: inline-block;
  text-align: center;
}

.container__photos {
  display: flex;
}
.container__photos .photos__column {
  width: 15%;
  min-width: 70px;
  margin: 5px;
}
.container__photos .photos__column .photo__small {
  width: 100%;
  padding: 15px;
}
.container__photos .container .photo__big {
  max-width: 100%;
  padding-top: 5px;
  margin: 5px;
  padding-right: 9%;
}

.border {
  border: 1px solid black;
}

.fa-home {
  text-decoration: none;
  color: #000 !important;
  cursor: pointer;
}

.fa-home:hover {
  text-decoration: underline;
}

.heart:hover {
  color: green;
  transition: 0.5s;
  font-size: 30px;
  transform: scale(1.2);
}

.fa-heart {
  color: green;
}

.heart__anchor {
  position: relative;
  z-index: 1;
}

.heart__item {
  font-size: 30px;
  position: absolute;
  right: 3%;
  top: 120%;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .item-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
